.ProjectBox {
  display: flex;
  text-align: left;
  justify-content: center;

}

.ProjectName, .ProjectDescriptionBox {
  padding: 1.5rem;
    width: 25%;
}

@media (max-width: 500px) {
  .ProjectBox {
    display: flex;
    justify-content: center;
    flex-direction: column;

  }

  .ProjectName, .ProjectDescriptionBox {
      padding: 1.5rem;
      width: 80%;
  }

}
