.ContactForm {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
  padding: 1rem;
  font-size: 1.25rem;
}

input {
  height: 1.5rem;
  width: 30rem;
  margin: 1rem;
  padding: .5rem;
  border-radius: .25rem;

}

textarea {
  height: 5rem;
  width: 30rem;
  margin: 1rem;
  padding: .5rem;
  border-radius: .25rem;

}

label {
  font-weight: bold;
}

.SendButton {
  border-radius: 50%;
  background-color: blue;
  color: #EEEEEE;
  height: 7rem;
  width: 7rem;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 500px) {
  input {
    height: 1rem;
    width: 15rem;
    margin: 1rem;
    padding: .5rem;
    border-radius: .25rem;

  }

  textarea {
    height: 5rem;
    width: 15rem;
    margin: 1rem;
    padding: .5rem;
    border-radius: .25rem;

  }
}
