.Navigation {
    display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: space-between;
  	align-items: center;
  	align-content: flex-start;
    margin-top: -2rem;
    padding: 1rem;
}

.NavigationText:link {
	text-decoration: none;
	color: black;
}

.NavigationText:visited {
	text-decoration: none;
	color: black;
}

.NavigationText:hover {
	text-decoration: none;
	color: grey;
}

.NavigationText:active {
	text-decoration: none;
	color: grey;
}

.NavigationBar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
}

.NameContainer {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}

.RandomCircle {
  background-color: blue;
  color: blue;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

.SoftwareEngineerText, .NavigationText, .RandomCircle {
  padding: .75rem;
}

.dropdown {
  display: none;
}

@media (max-width: 500px) {
  .NavigationBar {
    display: none;
  }

  .dropdown{
    display: flex;
}
.dropdown button{
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: hsl(0, 0%, 70%);
}
.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);
}

}
