.Home {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 5rem;
}

.WelcomeText {
  text-align: left;
}

.ProfilePic {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}

.ProfilePic, .Subtitle {
  padding: 2.5rem;
}
