.Home {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 2.5rem;
}

.WelcomeText {
  text-align: left;
}

.ProfilePic {
    height: 25%;
    width: 25%;
    overflow: hidden;
    clip-path: circle();
}

.ProfilePic, .Subtitle {
  margin: 2.5rem;
}

.Subtitle {
  width: 40%;
  height: 100%;
}

@media (max-width: 500px) {
  .Home {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 2.5rem;
  }

  .ProfilePic {
      height: 50%;
      width: 50%;
      overflow: hidden;
      clip-path: circle();
  }

  .ProfilePic, .Subtitle {
    margin: 1rem;
  }


  .Subtitle {
    width: 70%;
    height: 100%;
  }

}
