.MediaPic {
  padding: 1rem;
  height: 70%;
  width: 70%;
}

.PhotoBoxHolder {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: flex-start;
}

.PhotoBox {
  width: 30%;
}
